*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}
#hero{
    height: 90vh;
}

#hero,
footer{
    background-color: #1f2937;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}

header>a {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
}

#hero-main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content-left {
    width: 33%;
}

.content-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.content-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;

}

.content-left button {
    font-size: 18px;
    background-color: #3882f6;
    color: #fff;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

}

.content-right img{
    max-width: 380px;
    height: auto;
}

/*Information section style*/
#info-section {
    margin-bottom: 150px;
}

#info-section h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#info-section .card {
    width: 150px;
    text-align: center;
}
#info-section .card-img {
    border: 3px solid #3882f6;
    height: 150px;
    border-radius: 20px;
}
#info-section .card-desc {
    font-size: 18px;
    color: #000;
    margin: 8px 0 8px 0;
    width: 100%;
}
