*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}
#hero{
    height: 90vh;
}

#hero,
footer{
    background-color: #1f2937;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}

header>a {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
}

#hero-main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content-left {
    width: 33%;
}

.content-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.content-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;

}

.content-left button {
    font-size: 18px;
    background-color: #3882f6;
    color: #fff;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

}

.content-right img{
    max-width: 380px;
    height: auto;
}

/*Information section style*/
#info-section {
    margin-bottom: 150px;
}

#info-section h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#info-section .card {
    width: 150px;
    text-align: center;
}
#info-section .card-img {
    border: 3px solid #3882f6;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;

}

#info-section .card-img img{
    height: 150px;
    width: 100%;
}

#info-section .card-desc {
    font-size: 18px;
    color: #000;
    margin: 8px 0 8px 0;
    width: 100%;
}

/* Quote Section background */

#quote {
    background-color: #e5e7eb;
    height: 350px;
}

#quote div {
    width: 70%;
    margin: auto;
    padding: 50px 0;
}

#quote figure {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

#quote figure figcaption {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

/* Call to Action Section */

#cta {
    height: 250px;
    display: flex;
}

#cta>div {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    padding: 30px 0;
    border-radius: 5px;
}

#cta .cta-text h3 {
    color: white;
}

#cta .cta-text p{
    color: #e5e7eb;
}

#cta button {
    font-size: 18px;
    background-color: #3882f6;
    color: #fff;
    padding: 5px 25px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
}

/* footer Section */
footer {
    padding: 30px 0 30px 0;
    text-align: center;
    color: white;
}





